.App {
  text-align: center;
}


.container {
  margin: 25px 0 0 50px
}

.ihor-photo-1 {
  z-index: 1;
  width: 20vw;
  transition: all 0.2s;
  transform: scale(1);
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.name {
  margin: 15px 0 0 0;
}

.pos {
  margin-top: 5px;
}

.contact-item {
  margin: 20px;
}

.contact-item h3 {
  margin: 0;
}

.info {
  display: flex;
  gap: 200px;
}

.ed-item {
  margin-bottom: 30px;
}

.ed-item p {
  margin: 5px;
}

.ed-item span {
  font-weight: bold;
}

/* counter */
.counter-container {
  width: 200px;
  border: 2px solid black;
  margin-bottom: 50px;
  padding: 10px;
}